h1 {
  margin-top: 20px;
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 35px;
  line-height: 50px;
  font-weight: 100;
  letter-spacing: 0.5px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 35px;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

p {
  margin-bottom: 20px;
  color: #666;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
}

a {
  color: #00a6a0;
  text-decoration: none;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  text-align: left;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  text-align: left;
}

li {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
}

img {
  display: inline-block;
  max-width: auto;
}

blockquote {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 30px;
  border-left: 3px solid #f7d002;
  font-size: 20px;
  line-height: 35px;
  font-style: italic;
}

address {
  font-style: normal;
}

figure {
  margin-top: 30px;
  margin-bottom: 30px;
}

figcaption {
  margin-top: 5px;
  color: #999ea8;
  font-size: 14px;
  text-align: center;
}

.hero-section {
  height: 720px;
  margin-bottom: 120px;
  background-image: url('../images/bg-gradient-2.svg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-section.phone {
  margin-bottom: 120px;
  background-image: url('../images/bg-gradient-2.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.logo {
  position: absolute;
  left: 0px;
  margin-top: -2px;
  padding-right: 20px;
  padding-left: 15px;
  float: left;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.body {
  background-color: #f8f9fa;
  font-family: Roboto, sans-serif;
  color: #282b31;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.nav-section {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 99;
  background-color: transparent;
  color: #fff;
}

.wrapper {
  display: block;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.wrapper.hero-2-cols {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.wrapper.center {
  text-align: center;
}

.wrapper.edit {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.button {
  height: 50px;
  padding-top: 11px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 6px 12px 0 rgba(40, 43, 49, .08);
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #282b31;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.button:hover {
  box-shadow: 0 12px 24px 0 rgba(40, 43, 49, .16);
}

.w-list-unstyled .list-item {
  padding: 0;
}

.inline-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.inline-list .list-item {
  padding: 0;
  flex: 0 0 auto;
}

.nav-panel {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 91px;
  padding: 25px 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.grey-section {
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 110px;
  background-color: #f8f9fa;
}

.hero-heading {
  max-width: 570px;
  margin-bottom: 36px;
  color: #fff;
  font-weight: 100;
}

.heading-accent {
  font-weight: 500;
}

.hero-intro-left {
  padding-top: 70px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.app-icon {
  display: block;
  width: 90px;
  margin-bottom: 34px;
  border-radius: 18px;
  box-shadow: 0 3px 6px 0 rgba(40, 43, 49, .08);
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 140px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.feature-header {
  display: block;
  margin: 14px auto 20px;
  text-align: left;
}

.feature-header.white-text.edit {
  text-align: center;
}

.white-section {
  margin-bottom: 1px;
  padding-top: 90px;
  padding-bottom: 110px;
  background-color: #fff;
  box-shadow: 0 0 0 1px #e7e9e9;
}

.section-header {
  margin-top: 20px;
  font-size: 25px;
  line-height: 35px;
  font-weight: 500;
  letter-spacing: normal;
}

.press-link {
  margin-top: 10px;
  margin-right: 10px;
  padding: 15px 25px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 3px;
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  display: inline-block;
}

.press-link:hover {
  opacity: 1;
}

.footer-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 60px;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid hsla(0, 0%, 100%, .3);
  color: hsla(0, 0%, 100%, .8);
  font-size: 12px;
  line-height: 20px;
}

.social-button {
  border: 1px solid #e7e9e9;
  line-height: 0px;
}

.social-button.left-button {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.social-button.left-button.white {
  border-color: hsla(0, 0%, 100%, .3);
}

.social-button.right-button {
  border-left-style: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.social-button.right-button.white {
  border-color: hsla(0, 0%, 100%, .3);
}

.big-side-feature {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.big-side-feature.second {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.big-feature-info {
  width: 33.33333333%;
  margin-right: 8.33333333%;
  margin-left: 8.33333333%;
  padding-right: 15px;
  padding-left: 15px;
}

.feature-sub-header {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.feature-device {
  position: relative;
  left: 0px;
  top: 0px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.feature-device.phone {
  padding-top: 20px;
  padding-bottom: 20px;
}

.reviews-nav-dots {
  position: relative;
  height: 10px;
  padding-top: 0px;
  font-size: 10px;
}

.hero-device {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.white-text {
  color: #fff;
}

.store-badge {
  margin-right: 10px;
  margin-left: 0px;
  border-radius: 6px;
  box-shadow: 0 6px 12px 0 rgba(40, 43, 49, .08);
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
}

.store-badge:hover {
  box-shadow: 0 12px 24px 0 rgba(40, 43, 49, .24);
}

.feature-card-icon {
  width: 70px;
  max-width: none;
  margin-bottom: 21px;
  border-radius: 15px;
}

.feature-card-icon.edit {
  display: block;
  width: 300px;
}

.input {
  height: 50px;
  margin-bottom: 0px;
  padding-top: 11px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #d3d5da;
  border-radius: 6px;
  background-color: #f8f9fa;
  font-size: 17px;
  line-height: 30px;
}

.input.footer-subscribe {
  margin-top: 24px;
  margin-bottom: 30px;
  border-style: none;
  background-color: #fff;
}

.input.password-input {
  margin-top: 16px;
  margin-bottom: 24px;
  border-color: #fff;
  text-align: center;
}

.reviews-arrow {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #fff;
  background-image: url('../images/arrow-left-icon.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0 6px 12px 0 rgba(40, 43, 49, .12);
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: transparent;
}

.w-slider-arrow-left,
.w-slider-arrow-right {
  background: transparent;
}

.reviews-arrow:hover {
  box-shadow: 0 12px 24px 0 rgba(40, 43, 49, .16);
}

.reviews-arrow.right {
  background-image: url('../images/arrow-right-icon.svg');
  background-size: auto;
}

.inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.testimonial {
  height: 500px;
  background-color: transparent;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -35px;
  margin-bottom: -110px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #fff;
}

.footer-header {
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: none;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-top: 10px;
}

.footer-nav-list {
  width: 33.333%;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-v5-nav-link {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
  line-height: 30px;
}

.footer-v5-nav-link:hover {
  text-decoration: underline;
}

.footer-newsletter {
  width: 33.33333333%;
  padding-right: 0px;
  padding-left: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.social-icon {
  padding: 11px;
  opacity: 0.6;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.social-icon:hover {
  opacity: 1;
}

.hero-phone-image {
  max-height: 740px;
}

.text-block {
  text-align: right;
}

.compare-section {
  overflow: hidden;
  margin-top: -135px;
  padding-top: 95px;
  padding-bottom: 120px;
  border-top: 1px solid #e7e9e9;
  background-color: #f8f9fa;
}

.contact {
  position: fixed;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 0 0 30px rgba(40, 43, 49, .3);
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

.form-success {
  padding-left: 0px;
  background-color: transparent;
  font-size: 14px;
  text-align: left;
}

.form-error {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, .3);
  border-radius: 6px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}

.form-error.footer {
  margin-top: -16px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/bg-gradient-2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.preloader-content {
  padding: 40px;
  color: #666;
  text-align: center;
}

.radio {
  display: block;
  height: 44px;
  margin-right: 5px;
  padding: 9px 20px 3px;
  float: left;
  border: 1px solid #babdc3;
  border-radius: 3px;
  background-color: #b1b1b1;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
}

.radio:hover {
  border-color: #666;
  background-color: #666;
}

.radio:active {
  border-color: #404040;
  background-color: #404040;
}

.radio:focus {
  border-color: #404040;
  background-color: #404040;
}

.radio.checked {
  background-color: #162b2b;
}

.radio-wrapper {
  margin-top: 68px;
  margin-bottom: 50px;
}

.radio-text {
  position: relative;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.radio-button {
  position: relative;
  left: 0px;
  top: 0px;
  opacity: 0;
}

.quote {
  margin-top: 10px;
  margin-right: 16.6667%;
  margin-bottom: 40px;
  margin-left: 16.6667%;
  padding: 0;
  color: #00a6a0;
  font-weight: 300;
  font-size: 35px;
  font-style: normal;
  line-height: 50px;
  letter-spacing: 0.5px;
  border: none;
}

.quote-source {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0;
  line-height: 32px;
  color: #00a6a0;
}

.dark-section {
  padding-top: 90px;
  padding-bottom: 110px;
  background-color: #404040;
}

.section-team {
  height: 800px;
  padding-top: 90px;
  padding-bottom: 110px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/team.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.partners {
  justify-content: center;
  margin-top: 300px;
  padding-right: 160px;
  padding-left: 160px;
}

.partners .list-item {
  text-align: center;
}

.submit {
  height: 44px;
  margin-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  float: left;
  border-radius: 3px;
  background-color: #00a6a0;
}

.custom {
  margin: -35px -21px -20px 10px;
  padding: 12px 12px 11px;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-color: #babdc3 #babdc3 #babdc3 #000;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #fff;
  color: #000;
}

.section-intro {
  margin-top: -120px;
  padding-top: 160px;
  padding-bottom: 60px;
  background-image: url('../images/bg-intro.png');
  background-position: 50% 50%;
  background-size: cover;
}

.intro-feature-big {
  text-align: left;
}

.paragraph {
  text-align: left;
}

.big-feature-intro {
  margin-right: 8.333%;
  margin-left: 8.333%;
}

.html-embed {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.donation-left {
  width: 66%;
  padding-right: 10px;
  float: left;
}

.donation-right {
  width: 33%;
  margin-top: 0px;
  padding-top: 25px;
  padding-right: 10px;
  padding-left: 10px;
  float: right;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.big-side-feature-copy {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.link {
  color: #00a6a0;
}

.recurring {
  margin-bottom: 20px;
}

.hero-section-small {
  height: 300px;
  background-image: url('../images/bg-gradient-2.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.hero-intro-small {
  padding-top: 0px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 140px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.wrapper-content {
  display: block;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.team-image-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
}

.team-image {
  width: 300px;
  max-width: 300px;
  margin-right: 50px;
  margin-left: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.team-member {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.team-member-name {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #282b31;
}

.download {
  display: block;
}

.hero-heading-small {
  max-width: 570px;
  margin-bottom: 36px;
  color: #fff;
  font-weight: 100;
}

html.w-mod-js *[data-ix="preloader"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

html.w-mod-js *[data-ix="fade-up-on-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-up-1"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-up-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-up-3"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-up-4"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-left"] {
  opacity: 0;
  -webkit-transform: translate(30px, 0px);
  -ms-transform: translate(30px, 0px);
  transform: translate(30px, 0px);
}

html.w-mod-js *[data-ix="fade-right"] {
  opacity: 0;
  -webkit-transform: translate(-30px, 0px);
  -ms-transform: translate(-30px, 0px);
  transform: translate(-30px, 0px);
}

html.w-mod-js *[data-ix="hide-compare-section"] {
  display: none;
}

@media (max-width: 991px) {
  .hero-section {
    height: 600px;
  }
  .hero-section.phone {
    height: 510px;
    margin-bottom: 70px;
  }
  .logo {
    padding-left: 20px;
  }
  .nav-section {
    margin-bottom: -70px;
  }
  .wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }
  .wrapper.center {
    padding-right: 10px;
    padding-left: 10px;
  }
  .button {
    height: 45px;
    padding-right: 17px;
    padding-left: 17px;
    font-size: 16px;
    line-height: 24px;
  }
  .nav-panel {
    margin-right: -10px;
    margin-left: -10px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .grey-section {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .hero-heading {
    margin-bottom: 26px;
    font-size: 25px;
    line-height: 35px;
  }
  .hero-intro-left {
    padding-top: 40px;
    padding-right: 0px;
    padding-left: 10px;
  }
  .app-icon {
    width: 70px;
    margin-bottom: 24px;
    border-radius: 12px;
  }
  .hero {
    padding-top: 110px;
  }
  .feature-header {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
  }
  .white-section {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .big-side-feature {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .big-feature-info {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .feature-device {
    padding-right: 30px;
    padding-left: 30px;
  }
  .hero-device {
    padding-right: 10px;
    padding-left: 10px;
  }
  .store-badge {
    float: left;
  }
  .feature-header-big {
    font-size: 25px;
    line-height: 35px;
  }
  .feature-card-icon {
    width: 50px;
    border-radius: 10px;
  }
  .input {
    height: 45px;
    padding-top: 8px;
    font-size: 15px;
  }
  .input.footer-subscribe {
    text-align: center;
  }
  .inner {
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .testimonial {
    height: 600px;
    padding-top: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer {
    margin-top: -25px;
    margin-bottom: -70px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-nav-list {
    width: 25%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer-nav-list, .footer-nav-list .w-list-unstyled {
    text-align: center;
  }
  .footer-newsletter {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    padding: 20px 10px 50px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: center;
  }
  .footer-newsletter .inline-list{
    justify-content: center;
  }
  .hero-phone-image {
    max-height: 480px;
  }
  .store-badge-image {
    height: 45px;
  }
  .compare-section {
    margin-top: -103px;
    padding-top: 70px;
    padding-bottom: 90px;
  }
  .form-error {
    margin-top: 14px;
    margin-bottom: 0px;
  }
  .form-error.footer {
    margin-bottom: 20px;
  }
  .radio {
    padding-right: 15px;
    padding-left: 15px;
  }
  .quote {
    margin-right: 15%;
    margin-left: 15%;
  }
  .section-team {
    height: 740px;
  }
  .partners {
    margin-top: 240px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .custom {
    padding-right: 0px;
  }
  .intro-feature-big {
    font-size: 25px;
    line-height: 35px;
  }
  .donation-left {
    width: 100%;
    margin-right: 8.33%;
    margin-left: 8.33%;
  }
  .donation-right {
    width: 100%;
    margin-top: 60px;
    margin-right: 8.33%;
    margin-left: 8.33%;
    padding-top: 0px;
  }
  .big-side-feature-copy {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .mask {
    overflow: hidden;
  }
  .hero-section-small {
    height: 240px;
  }
  .hero-intro-small {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 10px;
  }
  .hero-small {
    padding-top: 110px;
  }
  .wrapper-content {
    padding-right: 20px;
    padding-left: 20px;
  }
  .team-image-wrapper {
    width: 150px;
    height: 150px;
  }
  .team-image {
    width: 230px;
    max-width: 230px;
    margin-right: 35px;
  }
  .hero-heading-small {
    margin-bottom: 26px;
    font-size: 40px;
    line-height: 55px;
  }
}

@media (max-width: 767px) {
  .hero-section.phone {
    height: 600px;
    margin-bottom: 260px;
  }
  .wrapper.center {
    text-align: left;
  }
  .wrapper.mobile {
    padding-right: 20px;
    padding-left: 20px;
  }
  .nav-panel {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .grey-section {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .heading-accent {
    text-align: center;
  }
  .hero-intro-left {
    padding-top: 0px;
    padding-left: 10px;
    text-align: center;
  }
  .app-icon {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .feature-header {
    font-size: 25px;
    line-height: 35px;
  }
  .feature-header.white-text {
    padding-right: 10px;
    padding-left: 10px;
  }
  .white-section {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .partners .list-item {
    width: 40%;
  }
  .press-link {
    padding: 20px;
    background-color: transparent;
  }
  .footer-bottom {
    margin-top: 40px;
  }
  .big-side-feature {
    margin-bottom: -40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .big-side-feature.second {
    margin-bottom: -10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .big-feature-info {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
  }
  .feature-device {
    width: 100%;
  }
  .feature-device.phone {
    padding: 30px 20% 50px;
  }
  .hero-device {
    width: 100%;
    padding-top: 30px;
  }
  .hero-device.phone {
    padding-top: 40px;
  }
  .store-badge {
    float: none;
  }
  .feature-card-icon {
    margin-bottom: 11px;
  }
  .feature-card-icon.edit {
    display: none;
  }
  .input {
    padding-top: 9px;
    font-size: 16px;
  }
  .reviews-arrow {
    margin-left: 10px;
  }
  .reviews-arrow.right {
    margin-right: 10px;
  }
  .inner {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .testimonial {
    height: 400px;
    padding-top: 0px;
  }
  .footer {
    margin-bottom: -60px;
  }
  .footer-header {
    margin-bottom: 10px;
    font-size: 13px;
  }
  .footer-nav-list, .footer-nav-list .w-list-unstyled {
    text-align: left;
  }
  .footer {
    font-size: 12px;
  }
  .footer-newsletter {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding: 30px 80px 40px;
  }
  .compare-section {
    margin-top: -83px;
    padding-top: 65px;
    padding-bottom: 70px;
  }
  .radio {
    margin-top: 10px;
    padding-right: 8px;
    padding-left: 8px;
    float: left;
    clear: none;
  }
  .quote {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 25px;
    line-height: 35px;
  }
  .dark-section {
    padding-top: 40px;
  }
  .section-team {
    height: 800px;
    padding-bottom: 0px;
  }
  .partners {
    margin-top: 160px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .submit {
    clear: left;
  }
  .custom {
    max-width: 140px;
  }
  .section-intro {
    background-color: #f8f9fa;
    background-image: none;
  }
  .intro-feature-big {
    text-align: left;
  }
  .paragraph {
    text-align: left;
  }
  .big-feature-intro {
    margin-right: 10px;
    margin-left: 10px;
  }
  .donation-left {
    margin-right: 0%;
    margin-left: 0%;
  }
  .donation-right {
    margin-right: 0%;
    margin-bottom: 40px;
    margin-left: 0%;
    padding-top: 0px;
  }
  .big-side-feature-copy {
    margin-bottom: -40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-intro-small {
    padding-top: 0px;
    padding-left: 10px;
    text-align: center;
  }
  .hero-small {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .wrapper-content {
    padding-right: 10px;
    padding-left: 10px;
  }
  .wrapper-content.mobile {
    padding-right: 20px;
    padding-left: 20px;
  }
  .team-image-wrapper {
    width: 200px;
    height: 200px;
  }
  .team-image {
    width: 300px;
    max-width: 300px;
  }
  .team-member {
    margin-bottom: 20px;
  }
}

@media (max-width: 479px) {
  .hero-section.phone {
    height: auto;
    margin-bottom: 257px;
  }
  .hero-intro-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .app-icon {
    margin-bottom: 0px;
  }
  .hero {
    padding-top: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .partners .list-item {
    width: 100%;
  }
  .press-link {
    padding: 10px;
  }
  .footer-bottom {
    margin-top: 20px;
  }
  .big-feature-info {
    margin-right: 0%;
    margin-left: 0%;
  }
  .feature-device.phone {
    padding-right: 10px;
    padding-left: 10px;
  }
  .hero-device {
    padding-top: 40px;
  }
  .hero-device.phone {
    margin-bottom: -257px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .store-badge {
    margin-top: 7px;
    margin-bottom: 7px;
    box-shadow: none;
  }
  .store-badge:hover {
    box-shadow: none;
  }
  .input {
    margin-bottom: 14px;
  }
  .reviews-arrow {
    margin-top: 30px;
  }
  .testimonial {
    padding-top: 0px;
  }
  .footer-nav-list {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer-newsletter {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .radio {
    min-width: 100%;
  }
  .quote {
    font-size: 20px;
    line-height: 32px;
  }
  .section-team {
    height: 1000px;
    padding-top: 60px;
  }
  .partners {
    margin-top: 60px;
  }
  .custom {
    max-width: 75%;
    min-width: 75%;
    margin-top: -10px;
    margin-right: -11px;
    float: right;
  }
  .donation-right {
    padding-top: 0px;
  }
  .paragraph-4 {
    font-size: 18px;
    line-height: 30px;
  }
  .hero-intro-small {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-small {
    padding-top: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .wrapper-content {
    padding-right: 10px;
    padding-left: 10px;
  }
  .team-member {
    margin-bottom: 20px;
  }
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}
