<!DOCTYPE html>
<!--  Last Published: Thu May 17 2018 11:21:31 GMT+0000 (UTC)  -->
<html data-wf-page="5afc32ad827879c35c7c74bc" data-wf-site="5ab90859fc0a92111aada82a">
<head>
  <meta charset="utf-8">
  <title>AppStarter — UI Kit Webflow Template</title>
  <meta content="AppStarter is a responsive HTML5 website template, that will help you to build delightful app landing pages in a minutes. Choose one of 6 layouts for different kind of apps (web, mobile, desktop, etc.) or mix components to build your unique website." name="description">
  <meta content="AppStarter — UI Kit Webflow Template" property="og:title">
  <meta content="AppStarter is a responsive HTML5 website template, that will help you to build delightful app landing pages in a minutes. Choose one of 6 layouts for different kind of apps (web, mobile, desktop, etc.) or mix components to build your unique website." property="og:description">
  <meta content="summary" name="twitter:card">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/components.css" rel="stylesheet" type="text/css">
  <link href="css/ginto.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Nunito Sans:300,regular,italic,700,800","Roboto:100,300,regular,500,700,900"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
</head>
<body class="body">
  <div class="utility-page-wrap">
    <div class="utility-page-content w-password-page w-form">
      <form method="post" action="/.wf_auth" class="utility-page-form w-password-page">
        <h2>Protected page</h2>
        <div class="w-password-page w-embed w-script"><input type="hidden" name="path" value="<%WF_FORM_VALUE_PATH%>"><input type="hidden" name="page" value="<%WF_FORM_VALUE_PAGE%>"></div><input type="password" name="pass" placeholder="Enter your password" maxlength="256" autofocus="true" class="input password-input w-password-page w-input"><input type="submit" value="Submit" data-wait="Please wait..." class="button w-password-page w-button"></form>
      <div class="w-password-page w-form-fail">
        <div>Incorrect password. Please try again.</div>
      </div>
      <div style="display:none" class="w-password-page w-embed w-script">
        <script type="application/javascript">(function _handlePasswordPageOnload() {
	  if (/[?&]e=1(&|$)/.test(document.location.search)) {
	    document.querySelector('.w-password-page.w-form-fail').style.display = 'block';
	  }
	})()</script>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/ginto.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script type="text/javascript">
  $(".donation .radio").on('click', function(){
    $(".radio").removeClass("checked");
    $(this).first().prop('checked', true);
    $(this).addClass("checked");
  });
  $(".donation .custom").focus(function() {
    $(".custom-radio").prop('checked', true);
  });
</script>
</body>
</html>